# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
WCFServicePilot101/bin/iBatisDomain.dll
iBatisDomain/obj/Debug/iBatisDomain.dll
iBatisDomain/obj/Debug/iBatisDomain.pdb
WCFServicePilot101/bin/WCFServicePilot101.dll
WCFServicePilot101/bin/WCFServicePilot101.pdb
iBatisDomain/obj/Debug/iBatisDomain.pdb
iBatisDomain/bin/Debug/iBatisDomain.dll
WCFServicePilot101/bin/WCFServicePilot101.pdb
WCFServicePilot101/obj/Debug/WCFServicePilot101.dll
