<?xml version="1.0" encoding="utf-8"?>
<providers 
xmlns="http://ibatis.apache.org/providers" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <clear/>
    <provider
    name="iDb2.09"
    description="IBM DB2 Provider, V 9.0"
    enabled="true"
    assemblyName="IBM.Data.DB2, Version=9.0.0.2, Culture=neutral, PublicKeyToken=7C307B91AA13D208, Custom=null" connectionClass="IBM.Data.DB2.DB2Connection"
    commandClass="IBM.Data.DB2.DB2Command"
    parameterClass="IBM.Data.DB2.DB2Parameter"
    parameterDbTypeClass="IBM.Data.DB2.DB2Type"
    parameterDbTypeProperty="DB2Type"
    dataAdapterClass="IBM.Data.DB2.DB2DataAdapter"
    commandBuilderClass="IBM.Data.DB2.DB2CommandBuilder"
    usePositionalParameters="true"
    useParameterPrefixInSql="false"
    useParameterPrefixInParameter="false"
    parameterPrefix=""
    allowMARS="false"
    />
</providers>
