<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig 
  xmlns="http://ibatis.apache.org/dataMapper" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 常量属性，通过单独文件properties.config加载-->
  <!--<properties resource="properties.config"/>-->
  <!-- 常量属性，通过程序集资源中 加载 -->
  <!-- <properties embedded="database.config, IBatisNetDemo"/> -->
  
  <settings>
    <setting useStatementNamespaces="true"/>
  </settings>
  
  <!-- 数据驱动提供类配置文件的路径和文件名 -->
  <providers resource="providers.config"/>
  
    <!-- Database connection information -->
    <database>
        <provider name="iDb2.09"/>
        <dataSource name="AppDBServer" connectionString="Database=TOOLSDB;User ID=db2admin;Password=AlphaGO;Server=localhost;currentSchema=PDMS"/>
    </database>

    <!-- 指定项目类映射的文件位置 -->
    <sqlMaps>
        <!-- <sqlmap resource="iPerson.xml"/> -->
        <sqlMap embedded="iBatisDomain.iPerson.xml, iBatisDomain" />
    </sqlMaps>

</sqlMapConfig>